$labYellow: rgb(247, 182, 23);
$labGray: rgb(43, 43, 43);

$column:8.33%;

@mixin grid ($columns) {
  width: $column*($columns);
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row::before, .row::after {
  content: " ";
  display: table;
}
.row::after {
  clear: both;
}

.categorias{
  @include grid(3);
  background: pink;

}
